/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

body {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  a:link {
    color: #2B2F26;
  }
  
  a:visited {
    color: #2B2F26;
  }
  
  a:hover {
    color: #CD5D67;
  }
  
  p a:hover {
    color: #967343;
  }
  
  main {
    background-color: #F2F1E8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-family: Merriweather;
    font-size: 4em;
    font-weight: 400;
  }
  
  h3 {
    font-family: Merriweather;
    font-size: 2em;
    font-weight: 300;
  }
  
  /* Header */
  header {
    padding: 10px 0;
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    z-index: 2;
  }
  
  nav {
    display: flex;
    align-content: space-around;
    height: 8vh;
  }

  nav img {
  height: 7vh;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 0 300px;
    text-transform: uppercase;
    font-size: 18px;
  }
  
  #active {
    color: #968772;
  }
  
  footer {
    background-color: #2B2F26;
    color: #F2F1E8;
    padding: 20px;
  }
  
  .image_tiles {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .image_tiles ul {
    display: flex;
    justify-content: space-around;
    margin: 5px 5px;
  }
  
  .image_tiles ul li {
    opacity: .5;
    transition: opacity .25s;
    color: #F2F1E8;
    position: relative;
    margin: 5px 10px;
  }
  
  .image_tiles ul li:hover {
    opacity: 1;
  }
  
  .image_tiles ul li p {
    background-color: #2B2F26;
    position: absolute;
    padding: 10px;
    font-size: 24px;
    bottom: 10px;
    margin: 0px;
  }
  
  #endless_possiblities {
    background-image: url("images/product-1.jpg");
    background-size: cover;
    height: 400px;
    min-width: 255px;
    flex-grow: 3;
  }
  
  #sets {
    background-image: url("images/product-2.jpg");
    background-size: cover;
    height: 400px;
    width: 255px;
  }
  
  #textures {
    background-image: url("images/product-3.jpg");
    background-size: cover;
    height: 400px;
    width: 255px;
  }
  
  #tea_time {
    background-image: url("images/product-4.jpg");
    background-size: cover;
    height: 300px;
    width: 255px;
  }
  
  #jars_and_containers {
    background-image: url("images/product-5.jpg");
    background-size: cover;
    height: 300px;
    width: 255px;
  }
  
  #wasabi_and_saki {
    background-image: url("images/product-6.jpg");
    background-size: cover;
    height: 300px;
    flex-grow: 1;
  }
  
  #sippin_on_sunshine {
    background-image: url("images/product-7.jpg");
    background-size: cover;
    height: 300px;
    width: 255px;
  }
  
  #about_page section {
    width: 70%;
    font-size: 18px;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
  }
  
  #about_page section p {
    margin: 0;
  }
  
  blockquote {
    font-family: Merriweather, serif;
    font-weight: 100;
    border-left: 2px solid #968772;
    margin: 0;
    padding: 10px 40px;
  }
  
  #birdhouse {
   float: left;
    height: 70px;
    width: 100px;
    margin: 0 20px 20px 0;
  }
  #mover{
      transition: transform .25s;
    pointer-events: none;
  }
  .trigger:hover #mover{
    transform: translate(50px, 50px) rotate(10deg);
  }
  .trigger {
    background-image: url("images/bent-creek-logo-coral.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7vh;
  }
  aside img {
    width: 100px;
  }
  
  aside {
    margin-top: 50px;
    width: 30%;
  }
  
  table, td, th {
    padding: 1em;
    border-collapse: collapse;
    border: 1px solid #2B2F26;
  }
  
  table {
    width: 100%;
    margin-bottom: 25px;
  }
  
  #news_two {
    width: 70%;
    display: flex;
  }
  
  tr:nth-of-type(even) {
    background-color: #FFFFFF;
  }
  
  .page_wide_img {
    background-image: url("images/background-3.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-attachment: fixed;
  }
  
  .page_wide_img p {
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 0;
    padding: 100px 0px;
  }
  
  /* newsletter only page */
  
  #newsletter_page {
    background-image: url("images/background-2.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .form {
    background-color: #FFFFFF;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .form h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
  }
  
  .form h4 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
  }
  
  .form input {
    outline: none;
    border: none;
    width: 95%;
    background-color: inherit;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
  }
  
  .input_fields input {
    border-bottom: 2px solid #968772;
  }
  
  .input_fields input:focus {
    border-bottom: 2px solid #968772;
  }
  
  #signupButton {
    border: none;
    height: 50px;
    width: 100px;
    background-color: #968772;
    color: #F2F1E8;
  }
  
  #signupButton:hover {
    background-color: #967343;
    color: #FFFFFF;
  }